*
{
    margin:0;
    padding:0;
}
h2 a{
    margin-left: 480px;
    color: antiquewhite;  
}
a:hover{
    color: red;
    
}
body{
    background: linear-gradient(90deg,#7a4949 0%, #8c918c 80%);  
   
}
table{ 
    
    width: 500px;
    margin-left: 420px;
    color: white;
    cursor: pointer;
}
table tr td {
    padding: 2%;
}

.n1{background-color: rgb(24, 143, 240);}
.n2{background-color: rgb(68, 7, 7);}
.n3{background-color: aqua;}
.n4,.n9{background-color: blueviolet;}
.n5,.n7{background-color: blue;}
.n6,.n8{background-color: darkgreen;}
